LOCAL_BASE_URL=
QAT_BASE_URL=
UAT_BASE_URL=
ALLOW_REMOTE_TARGET=false
REQUEST_TIMEOUT_SECONDS=5
# Public synthetic demo users, never employer credentials.
LOCAL_USER_01=sample01
LOCAL_PASSWORD_01=DemoOnly01!
LOCAL_USER_02=sample02
LOCAL_PASSWORD_02=DemoOnly02!
LOCAL_USER_03=sample03
LOCAL_PASSWORD_03=DemoOnly03!
LOCAL_USER_04=sample04
LOCAL_PASSWORD_04=DemoOnly04!
LOCAL_USER_05=sample05
LOCAL_PASSWORD_05=DemoOnly05!
LOCAL_USER_06=sample06
LOCAL_PASSWORD_06=DemoOnly06!
LOCAL_USER_07=sample07
LOCAL_PASSWORD_07=DemoOnly07!
LOCAL_USER_08=sample08
LOCAL_PASSWORD_08=DemoOnly08!
LOCAL_USER_09=sample09
LOCAL_PASSWORD_09=DemoOnly09!
LOCAL_USER_10=sample10
LOCAL_PASSWORD_10=DemoOnly10!
LOCAL_USER_11=sample11
LOCAL_PASSWORD_11=DemoOnly11!
LOCAL_USER_12=sample12
LOCAL_PASSWORD_12=DemoOnly12!
LOCAL_USER_13=sample13
LOCAL_PASSWORD_13=DemoOnly13!
LOCAL_USER_14=sample14
LOCAL_PASSWORD_14=DemoOnly14!
LOCAL_USER_15=sample15
LOCAL_PASSWORD_15=DemoOnly15!
LOCAL_USER_16=sample16
LOCAL_PASSWORD_16=DemoOnly16!
LOCAL_USER_17=sample17
LOCAL_PASSWORD_17=DemoOnly17!
LOCAL_USER_18=sample18
LOCAL_PASSWORD_18=DemoOnly18!
LOCAL_USER_19=sample19
LOCAL_PASSWORD_19=DemoOnly19!
LOCAL_USER_20=sample20
LOCAL_PASSWORD_20=DemoOnly20!
# For a separate demo deployment, set QAT_USER_01/QAT_PASSWORD_01 or UAT equivalents.
